.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  background-color: #ec4c8b;
  align-items: center;
  height: 60px;
  color: white;
}

.start {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-size: 20px;
}

.chevron {
  font-size: 20px;
}
